# Python
__pycache__/
*.py[cod]
.venv/
.python-version.local

# env
.env
.env.local
.env.prod
.env.*.local
# 例外：模板要提交
!.env.example
!.env.prod.example

# Node
node_modules/
dist/


# macOS
.DS_Store

api/data/guji/

docs/
